#root {
    -fx-background-color: #69AFAD;
}

#statusLabel {
    -fx-pref-height: 120px;
    -fx-text-alignment: center;
    -fx-text-fill: #8C3E44;
    -fx-font-size: 40px;
    -fx-font-family: "Baskerville Old Face";
}

#numberPane {
    -fx-pref-height: 400px;
}

#numberGrid {
    -fx-pref-height: 400px;
    -fx-background-color: #F9E5DA;
    -fx-alignment: center;
}

#choicePane {
    -fx-pref-height: 120px;
}

#yesButton, #noButton {
    -fx-pref-height: 50px;
    -fx-pref-width: 100px;
    -fx-font-family: "Baskerville Old Face";
    -fx-font-size: 25px;
    -fx-background-color: #EFA5A6;
    -fx-background-radius: 150;
    -fx-border-radius: 150;
    -fx-border-color: #8C3E44;
}

#numberGrid .label {
    -fx-font-size: 50px;
    -fx-alignment: center;
    -fx-border-width: 2px;
    -fx-border-color: #354E52;
    -fx-padding: 0;
    -fx-font-family: "Garamond";
}

#resultBox {
    -fx-background-color: #354E52;
}

#resultLabel {
    -fx-font-family: "Baskerville Old Face";
    -fx-font-size: 40px;
    -fx-text-alignment: center;
    -fx-text-fill: #F9E5DA;
}

#numberResult {
    -fx-font-family: "Garamond";
    -fx-font-size: 80px;
    -fx-border-color: #EFA5A6;
    -fx-border-width: 5px;
    -fx-text-fill: #BA5E62;
    -fx-background-color: #F9E5DA;
    -fx-pref-height: 160px;
    -fx-pref-width: 160px;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
}